.banner {
    background-image: url('https://thumbs.dreamstime.com/b/baby-kids-toys-banner-background-teddy-bear-bunny-wooden-blocks-balls-light-blue-background-top-view-flat-lay-baby-kids-toys-221249868.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}