@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

h1 {
    font-family: 'Lobster', cursive;
}

.home p{
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width : 600px){
    h1 {
        font-size: 10px;
    }
}